@use "@/styles/base/mixins" as *

.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 85px
	background-color: var(--color-neutral-100)
	z-index: 1

	@include media('max', 'tablet')
		height: 60px


	&__wrapper
		width: 100%
		height: 100%
		display: flex
		align-items: center
		gap: 32px
		padding: 20px

		@include media('max', 'tablet')
			gap: 12px
			padding: 10px

	&__logo
		height: 100%
		transition: opacity .3s

		@include hover()
			opacity: .7

		&-image
			height: 100%
			object-fit: contain

	&__menu
		width: 40px
		height: 30px
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 4px

		@include media('min', 'tablet')
			display: none

		&-item
			width: 100%
			height: 3px
			background-color: var(--color-neutral-900)

	&__user
		display: flex
		align-items: center
		gap: 8px

		@include media('max', 'tablet')
			margin-left: auto

		@include hover()
			& .header__user
				&-img
					opacity: .7

		&-img
			width: 32px
			height: 32px
			padding: 4px
			transition: opacity .3s

		&-name
			@include media('max', 'tablet')
				display: none

	&__nav
		display: flex
		justify-content: flex-end
		gap: 16px
		margin-left: auto

		@include media('max', 'tablet')
			display: none

		&-item
			font-size: var(--font-size-text-xl)
			font-weight: 500