body
  color: var(--color-neutral-900)
  font-family: var(--font-family)

.layout
  min-width: var(--app-min-width)
  width: 100%
  min-height: var(--app-min-height)
  display: flex
  flex-direction: column